h1, h2, h3, h4, h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:teal;
}

.photo--grid, footer {
    background-color: white;
}

.overlay {
    max-width:400px;
}